@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
td {
    @apply border border-neutral-300;
}

.custom_form {
    @apply rounded-md w-full border-b text-[16px] bg-slate-50 border-slate-200 focus:outline-none focus:ring-0 focus:border-sky-300 focus:bg-sky-100 text-slate-800;
}

.overflow-scroll::-webkit-scrollbar {
    display: none;
}

@layer components {
    .nav-item.nav-link.active,
    .nav-item.nav-link.show {
        @apply bg-warna-01 text-white;
    }
}
@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
